<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <link rel="shortcut icon" href="/img/Icon.svg" type="image/x-icon">
</head>
<body>
    <%- include('partials/navegation') %>
    <!-- en este div iran los botones de canjear tokens y comprar creditos, ademas de un boton de enviar prenda  -->
    <div id="main">
        <div id="buttons">
            <button class="botoms" id="change-tokens">Canjear tokens</button>
            <button class="botoms" id="buy-credits">Comprar creditos</button>
            <button class="send">Enviar prenda</button>
        </div>

    </div>
</body>
</html>