<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superior</title>
    <link rel="shortcut icon" href="/img/Icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('partials/navegation') %>
    <div class="menu">
        <div class="item"><img src="/img/Imagen 1.png" alt="Imagen 1"></div>
        <div class="item"><img src="/img/Imagen 2.png" alt="Imagen 2"></div>
        <div class="item"><img src="/img/Imagen 3.png" alt="Imagen 3"></div>
        <div class="item"><img src="/img/Imagen 1.png" alt="Imagen 1"></div>
        <div class="item"><img src="/img/Imagen 2.png" alt="Imagen 2"></div>
        <div class="item"><img src="/img/Imagen 3.png" alt="Imagen 3"></div>
        <div class="item"><img src="/img/Imagen 1.png" alt="Imagen 1"></div>
        <div class="item"><img src="/img/Imagen 2.png" alt="Imagen 2"></div>
        <div class="item"><img src="/img/Imagen 3.png" alt="Imagen 3"></div>
        <div class="item"><img src="/img/Imagen 1.png" alt="Imagen 1"></div>
        <div class="item"><img src="/img/Imagen 2.png" alt="Imagen 2"></div>
        <div class="item"><img src="/img/Imagen 3.png" alt="Imagen 3"></div>

        <!-- Agrega más elementos según sea necesario -->
    </div>
</body>
</html>